* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header {
  display: flex;
}

.my-logo {
  width: 76px;
  height: 20px;
  color: #6070ff;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;    
}

.navbar {
      
}